name: Release

on:
  push:
    branches:
      - release

env:
  CARGO_TERM_COLOR: always

jobs:
  compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust ${{ matrix.toolchain }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          target: thumbv6m-none-eabi
          override: true
          components: llvm-tools-preview

      - name: Install cargo-binutils
        uses: actions-rs/install@v0.1
        with:
          crate: cargo-binutils
          version: latest
          use-tool-cache: true

      - name: Install flip-link
        uses: actions-rs/install@v0.1
        with:
          crate: flip-link
          version: latest
          use-tool-cache: true

      - name: Run cargo build --release
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      - name: Run cargo objcopy
        uses: actions-rs/cargo@v1
        with:
          command: objcopy
          args: --release --bin main -- -O binary dcdriver.bin

      - name: Rename .elf and .bin files
        env:
          TAG_VERSION: ${{ steps.version_tag.outputs.TAG_VERSION }}
        run: |
          mv target/thumbv6m-none-eabi/release/main dcdriver.elf

      - name: Create release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dcdriver*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true